.card-child{
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0.1rem solid var(--lynx-grey);
    box-shadow: 0.3rem 0.3rem 0.1rem rgba(0,0,0,0.2);
    position: relative;
}

.card-child:hover{
    border: none;
    box-shadow: none;
  }
  
.card-child-quiz{
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0.1rem solid var(--lynx-grey);
    box-shadow: 0.3rem 0.3rem 0.1rem rgba(0,0,0,0.2);
    margin: 1rem 0;
}


.card-secondary:hover{
    position: absolute;
    top: -0.8rem;
    left: -0.8rem;
    transition: 0.2s ease-in-out;
    width: 18.75rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--lynx-grey);
    box-shadow: 0.3rem 0.3rem 0.1rem rgba(0,0,0,0.2);
    background-color: var(--black-color);
    color: var(--white-color);
}

.card-quiz-body{
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
}

.card-image-cont{
    width: 100%;
    height: 65%;
}

.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-image-quiz{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.quiz-options{
    width: 80%;
    margin: auto;
}

.quiz-option-child{
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    border: 0.1rem solid var(--lynx-grey);
    padding: 1rem;
    margin: 0.2rem;
    font-weight: bold;
}

.quiz-option-child:hover{
    background-color: var(--black-color);
    color: var(--white-color);
}